/*=================ROOT===================*/

:root {
    --primary-green: #2fc18c;
    --second-green: #036b52;
}

/*=================FORMAT===================*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Epilogue', sans-serif;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    margin-top: 25vh;

    text-align: center;
    background: rgb(238, 238, 238);

    font-size: 2.2vh;
}    

main {
    margin:5vh 5vw;
}

section {
    margin:5vh 0;
}

a {
    text-decoration: none;
    color: var(--second-green)
}

ul {
    list-style-type: none;
}

h2 {
    font-size:3.8vh;
}

h3 {
    padding: 1vh;
    font-size: 3.5vh;

    color: var(--second-green);
}

p {
    line-height: 1.4;
}

hr {
    height: 3px;
    background: linear-gradient(270deg, var(--primary-green), var(--second-green))
}

/*=================HEADER===================*/

header {
    top: 0;
    position: fixed;    
    height: 17vh;
    width: 100%;

    background-image: linear-gradient(90deg, var(--primary-green), var(--second-green));

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-family: 'Bebas Neue', cursive;
}

header img {
    margin-left: 2vh;
    max-height: 15vh;
    padding: 2vh;    
    width: auto;
}

header ul li {
    padding: 0 1vh;
    opacity: 0.8;
    font-size: 1vh;
    transition: 0.2s;
}

header ul li:hover {
    transform: scale(1.2);
    font: 700;
    opacity: 1;

    text-shadow: 2px 2px rgba(77, 77, 77, 0.63);
}

header ul li a {
    color: #fff;
    font:'Bebas Neue', cursive;
}

/*=================HEAD===================*/

.port-head {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.port-head img {
    border-radius: 50vh;
    transition: 0.1s;
    max-width: 35vh;
    height: auto;
}

.names {
    text-align: center;
    margin-top: 5vh;
}

.names h2 {
    color: var(--second-green);
}

.subname {
    font-size: 3vh;
}

/*=================ABOUT-ME===================*/

#about-me p {
    margin-top: 3vh;
    text-align: justify;
    line-height: 1.6;
}

/*=================SKILLS===================*/

#skills ul {
    grid-template-columns: 1fr 1fr;    
    margin-top: 3vh;
    line-height: 1.6;
    text-align:center;      
}

.unpair {    
    text-shadow: -1px -1px 1px var(--primary-green);
}


/*=================BACK TO TOP BUTTON===================*/


.back-to-top {    
    align-items: center;    
}

.back-to-top p {
    margin-top: 1vh;

    font-size: 1.5rem;    
    transition: 0.1s;

    color: var(--second-green);
}

.back-to-top p:hover {
    color: var(--primary-green);
}

/*=================FOOTER===================*/

footer {
    height: 20vh;
    background-image: linear-gradient( 90deg, var(--primary-green), var(--second-green));

    align-items: center;
    justify-content: center;
}

.footer-imgs {
    justify-self: center;
    padding-top: 5vh;
}

.footer-imgs img {
    max-height: 8vh;    
    padding: 0px 5vh;
    transition: 0.1s;
}

.footer-imgs img:hover {
    transform: scale(1.2);
}

/*=================RESPONSIVENESS===================*/


  /* desktops, large screens */
@media (min-width: 1024px) {

    main {
        margin:5vh 15vw;
    }

    /* 

    header ul {
        display: flex;
        justify-content: flex-end;
    }
    
    header ul li {
        padding: 0 1vh;
        opacity: 0.8;
        font-size: 1vh;
        transition: 0.2s;
    }
    
    header ul li:hover {
        transform: scale(1.2);
        font: 700;
        opacity: 1;
    
        text-shadow: 2px 2px rgba(77, 77, 77, 0.63);
    }
    
    header ul li a {
        color: #fff;
        font:'Bebas Neue', cursive;
    }    

     */
    
    .port-head {
        display: flex;
        flex-direction: row;
        align-items: center;

        font-size: 1.2rem;
    }

    .port-head img {
        width: auto;
        max-height: 42vh;

        border-radius: 2vh;
    } 

    .names {
        display: flex;
        flex-direction: column;
        text-align: start;
        margin-top: 0;
        margin-left: 4vh;

        text-align: justify;
    }

    .names h2 {
        font-size: 1.65rem;
    }

    .names .subname {
        font-size: 1.4rem;
    }
}


/* extra large screens */

@media (min-width: 1200px) {
    main {
        margin:5vh 20vw;
    }
}
