/*=================FORMAT===================*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0 auto;

    text-align: center;
    font-family: 'Epilogue', sans-serif;
    background: rgb(238, 238, 238);
}

section {
    margin:5vh 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h3 {
    padding: 1vh;
    font-size: 5vh;
}

p {
    line-height: 1.6;
}

/*=================HEADER===================*/

header {
    height: 15vh;

    background-image: linear-gradient(rgb(37, 53, 105), rgb(9, 23, 70));

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    padding: 3vh;
    color: #fff;
}

header ul {
    display: flex;
    justify-content: flex-end;
}

header ul li {
    padding: 0 6vh;
    opacity: 0.8;


    transition: 0.2s;
}

header ul li:hover {
    transform: scale(1.2);
}

header ul li a {
    color: #fff;
}

/*=================MAIN===================*/

main {
    margin:5vh 25vw;
}

.port-head {
    display: flex;
    flex-direction: row;
}

.port-head img {
    width: 20vw;
    border-radius: 2vh;
}

.names {
    display: flex;
    flex-direction: column;
}

/*=================FOOTER===================*/

footer {
    height: 20vh;
    background-image: linear-gradient(rgb(37, 53, 105), rgb(9, 23, 70));

    align-items: center;
    justify-content: center;
}

.footer-imgs {
    justify-self: center;
}

footer img {
    max-height: 8vh;
    filter: invert();

    transition: 0.2s;
}